#video {
  width: 300px;
  height: 200px;
  display: none;
}

canvas {
  width: 300px;
  height: 200px;
  display: none;
}

pre {
  margin: 0px;
}

body {
  margin: 0px;
  background: black;
  color: #00CC00;
}

h1 {
  margin: 2em auto;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}